body{
    
    background:aqua;
}
h1{
    font-family: 'Spicy Rice', cursive;
}
h2{
    font-family: 'Archivo Black', sans-serif;
}
h3{
    font-family: 'Archivo Black', sans-serif;
}
h4{
     font-family: 'Archivo Black', sans-serif;
}
ul{
    font-family: 'Fredoka One', cursive;
}
p{
    font-family: 'Concert One', cursive;
}